     	body { 
     		margin : 0 auto; 
     		max-width: 90%; 
     		min-width: 40%; 
     	} 
    	
     	.logo{ 
     		text-align: center; 
     		width: 100%; 
     		height:100%;  
     		padding-top:60px; 
     	} 
     	
     	.logo > a > img {
     		height:100%; 
     		padding-top:60px;
     	}
    	
     	.user_icon_id{ 
     		text-align: center; 
     		padding-top : 20px; 
     	} 
     	
     	.login_icon_id{
     		margin-top : -5px; 
     		width: 55px;  
     		text-align: center
     	}
     	
     	.user_icon_id > input{ 
     		text-align: center; 
     		height : 55px; 
     		width : 300px; 
     	} 
    	
     	.user_icon_pw{ 
     		text-align: center; 
     		padding-top : 10px; 
     	} 
    	
    	.login_icon_pw{
     		margin-top : -5px; 
     		width: 55px;  
     		text-align: center
     	}
    	
     	.user_icon_pw > input{ 
     		text-align: center; 
     		height : 55px; 
     		width : 300px; 
     	} 
    	
 		 .memoryIdLogin { 
 			padding-top : 10px; 
 			text-align: center; 
 			font-size: 20px; 
 		}  
 		
 		 .memLogId{ 
 			padding-right:20px;
 		}  
		
 		.loginButton { 
 			padding-top : 20px; 
 			text-align: center; 
 		} 
 		
 		.loginButton > button {
 		 	background-color: #cff09e; 
 		 	color:black; 
 		 	width : 400px;  
 		 	height : 40px;
 		}
		
 		.btn{ 
 			padding : 0 30px 0 30px; 
 		} 
		
 		#loginBtn { 
 			margin-right : 20px; 
 			display: inline-block; 
 		} 
 		
 		#loginBtn > button {
 			background-color: #cff09e; 
 			color:black; 
 			width : 170px; 
 			height : 40px;
 		}
		
 		.lostMemId > ul { 
 			padding: 20px 0 0 0; 
 			list-style: none; 
 			text-align: center; 
 		} 
		
 		.lostMemId > ul > li{ 
 			display: inline; 
 		} 
		
 		.lostMemId > ul > li > a{ 
 			color : black; 
 		} 
		
 		.lostMemId > ul > li > a:hover { 
 			color : black; 
 			text-decoration: none; 
 			border-bottom: 2px solid #44633f; 
 		} 
 	
		
 		.inquiry{ 
 			text-align: center; 
 			font-size: 12px; 
 		} 