<?xml version="1.0" encoding="UTF-8"?>

<!-- 11. mapper dtd넣기 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="board.dao.face.BoardDao">

		<sql id="sort">
		<if test="sort == null">
			ORDER BY bno DESC
		</if>
		<if test="sort == 'bno'">
			ORDER BY bno DESC
		</if>
		<if test="sort == 'TIME'">
			ORDER BY bdate DESC
		</if>
		<if test="sort == 'COMMENT">
			ORDER BY bno DESC
		</if>
		<if test="sort == 'READ'">
			ORDER BY bhit DESC
		</if>
	</sql>
	
		<select id="selectHitList" resultType="Board">
		<include refid="sort"/>
		SELECT * FROM uboard
		ORDER BY bhit DESC
	</select>
	
	
	<select id="selectCntAll" resultType="int" parameterType="Paging">
		SELECT COUNT(*) FROM uboard
		<where>
		<if test="search != null and !search.equals('')">
			<if test="category.equals('title')">
				btitle LIKE '%' || #{search} || '%'
			</if>
			<if test="category.equals('content')">
				bcontent  LIKE '%' || #{search} || '%'
			</if>
		</if>
		</where>
	</select>     
	
	<select id="selectPageList" parameterType="Map" resultType="Board">
     	SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT uboard.*
				FROM UBOARD
				<where>
				<if test="search != null and !search.equals('')">
					<if test="category.equals('title')">
						btitle LIKE '%' || #{search} || '%'
					</if>
					<if test="category.equals('content')">
						bcontent  LIKE '%' || #{search} || '%'
					</if>
				</if>
				</where>
				ORDER BY bno DESC		
			) B
		) UBOARD
		WHERE rnum BETWEEN #{startNo } AND #{endNo}
		<if test="sort != null and sort.equals('READ')">
			ORDER BY bhit DESC
		</if>
		<if test="sort != null and sort.equals('TIME')">
			ORDER BY bdate DESC
		</if>
	</select>
	

	



	
	<update id="updateHit" parameterType="Board">
		UPDATE uBOARD
		SET bhit = bhit + 1
		WHERE bno = #{ bno}
	</update>
	
	<select id="selectBoard" resultType="Board" parameterType="Board">
		SELECT
			b.bno, b.memberno, b.btitle, b.bcontent, b.bhit, b.bdate,
			m.membername
			FROM uboard b
			join member m on b.memberno = m.memberno
			WHERE b.bno = #{bno}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="Board">
		<selectKey order="BEFORE" resultType="int" keyProperty="bno">
			SELECT UBOARD_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO UBOARD ( bno,memberno,btitle, bcontent, bdate)
		VALUES ( #{bno}, #{memberno},#{btitle}, #{bcontent}, CURRENT_TIMESTAMP)
	</insert>
	
	<!--  첨부파일 업로드 -->
	<insert id="insertFile" parameterType="BoardFile">
		INSERT INTO UBOARDFILE ( bfileno, bno, originname, storedname, filesize)
		VALUES ( uboardfile_seq.nextval, #{bno }, #{originname }, #{storedname }, #{filesize } )
	</insert>

	<select id="selectBoardFileByBoardNo" resultType="BoardFile" parameterType="Board">
		SELECT
			bfileno, bno, originname, storedname
		FROM UBOARDFILE
		WHERE bno = #{bno }
	</select>

	<select id="selectBoardFileByFileNo" resultType="BoardFile" parameterType="BoardFile">
		SELECT
			bfileno, bno, originname, storedname
		FROM UBOARDFILE
		WHERE bfileno = #{bfileno }
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE uboard
		SET btitle = #{btitle}
			, bcontent = #{bcontent}
		WHERE bno = #{bno}
	</update>
	
	<update id="updateRecnt" parameterType="int">
		UPDATE uboard b
		SET b.recnt = (select cnt(cono) from ureply)where bno = #{bno})
		where b.bno = #{bno}
	</update>

	<delete id="deleteFile" parameterType="Board">
		DELETE uboardfile
		WHERE bno = #{bno}	
	</delete>
	
	<delete id="delete" parameterType="Board">
		DELETE uboard
		WHERE bno = #{bno}	
	</delete>
	

	

</mapper>