<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="community.dao.face.CboardDao">
	<select id="selectCntAll" resultType="int" parameterType="Cpaging">
		SELECT COUNT(*) FROM community
		<where>
		<if test="search != null and !search.equals('')">
			<if test="category.equals('title')">
				ctitle LIKE '%' || #{search} || '%'
			</if>
			<if test="category.equals('content')">
				ccontent  LIKE '%' || #{search} || '%'
			</if>
		</if>
		</where>
	</select>     
	
	<select id="selectPageList" parameterType="Cpaging" resultType="Community">
     	SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT c.*, f.cstoredname
				FROM community c
				left join communityfile f on c.cno = f.cno
				<where>
				<if test="search != null and !search.equals('')">
					<if test="category.equals('title')">
						ctitle LIKE '%' || #{search} || '%'
					</if>
					<if test="category.equals('content')">
						ccontent  LIKE '%' || #{search} || '%'
					</if>
				</if>
				</where>
				ORDER BY c.cno DESC		
			) A
		) community
		WHERE rnum BETWEEN #{startNo } AND #{endNo}
	</select>
	
	<!--  조회수 -->
	<update id="updateHit" parameterType="Community">
		UPDATE community
		SET chit = chit + 1
		WHERE cno = #{cno}
	</update>
	
	<!-- 상세보기 -->
	<select id="selectCboard" resultType="Community" parameterType="Community">
		SELECT
			cno, memberno, ctitle, ccontent, chit, cdate
			FROM Community
			WHERE cno = #{cno}
	</select>
	
	
	<insert id="insertBoard" parameterType="Community">
		<selectKey order="BEFORE" resultType="int" keyProperty="cno">
			SELECT community_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO community ( cno, memberno, ctitle, ccontent, cdate)
		VALUES ( #{cno}, #{memberno}, #{ctitle}, #{ccontent}, CURRENT_TIMESTAMP)
	</insert>


	
	<insert id="insertFile" parameterType="CommImg">
		INSERT INTO communityfile ( cfileno, cno, coriginname, cstoredname, cfilesize)
		VALUES ( communityfile_seq.nextval, #{cno }, #{coriginname }, #{cstoredname }, #{cfilesize } )
	</insert>
	
	<select id="selectBoardFileByCno" resultType="CommImg" parameterType="Community">
		SELECT
			cfileno, cno, coriginname, cstoredname
		FROM communityfile
		WHERE cno = #{cno }
	</select>

	<select id="selectBoardFileNo" resultType="CommImg" parameterType="CommImg">
		SELECT
			cfileno, cno, coriginname, cstoredname
		FROM communityfile
		WHERE cfileno = #{cfileno }
	</select>

	<update id="updateCboard" parameterType="Community">
		UPDATE community
		SET ctitle = #{ctitle}
			, ccontent = #{ccontent}
		WHERE cno = #{cno}
	</update>

	<delete id="deleteFile" parameterType="Community">
		DELETE communityfile
		WHERE cno = #{cno}	
	</delete>
	
	<delete id="delete" parameterType="Community">
		DELETE community
		WHERE cno = #{cno}	
	</delete>
	
	<select id="selectCntFavorite" parameterType="Favorite" resultType="int">
		SELECT count(*)
		FROM clike
		WHERE cno = #{cno }
			AND memberno = #{memberno }
	</select>
	
	<select id="getTotalCntFavorite" parameterType="Favorite" resultType="int">
		SELECT count(*)
		FROM clike
		WHERE memberno = #{memberno }
	</select>
	
	<delete id="deleteFavorite" parameterType="Favorite">
		DELETE clike
		WHERE memberno = #{memberno }
			AND cno = #{cno }
	</delete>
	
	<insert id="insertFavorite" parameterType="Favorite">
		INSERT INTO clike (hno, cno, memberno)
		VALUES (clike_seq.nextval, #{cno }, #{memberno })
	</insert>
	
	<!-- 댓글 -->
	
	<!-- 댓글 -->
	
	
	<select id="CntCmt" parameterType="Comment" resultType="int">
        SELECT count(*) 
        FROM creply
        WHERE cno = #{cno}
    </select>
    
    <select id="CommtList" parameterType="hashmap" resultType="hashmap">
        	SELECT * FROM (
            SELECT rownum rnum, C.* FROM(
        	SELECT c.cono, c.cno, m.memberno, m.membername, c.cocontent, c.cocreatedate
            FROM creply c
            JOIN member m
            ON (c.memberno = m.memberno)
            WHERE cno = #{co} AND cono > 0  
            ORDER BY cono DESC ) C
            ) creply
			 WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
    </select>
   
    <insert id="insertCmt" parameterType="Comment">
        INSERT INTO creply(
			cono, cno, memberno, cocontent )
		
		VALUES ( creply_seq.nextval, #{cno },  #{memberno }
				, #{cocontent }
		)
    </insert>

    <select id="selectCmtByCmtNo" parameterType="int" resultType="Comment">
		SELECT cono, cno, memberno, cocontent
		FROM creply 
		WHERE cono = #{cono}
	</select>
	
    <update id="updateCmt" parameterType="Comment">
        UPDATE creply
        SET cocontent = #{cocontent}
          , cocreatedate = CURRENT_TIMESTAMP()
        WHERE cono = #{cono} and memberno = #{memberno}
    </update> 
	
	
	<delete id="deleteCmt" parameterType="Comment">
		DELETE creply 
		WHERE cono = #{cono}
	</delete>
	
	

	

</mapper>