<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="community.dao.face.CmtDao">
<!-- 댓글 등록 -->
	<insert id="insertCmt" parameterType="Comment">
		INSERT INTO  CREPLY ( cono, cno, memberno, cocontent, cocreatedate ) 
		VALUES (  CREPLY_seq.nextval, #{cno}, #{memberno}, #{cocontent}, CURRENT_TIMESTAMP )
	</insert>
	
	
	<!-- 댓글 수 조회 -->
	<select id="getCntByCno" resultType="int" parameterType="int">
		select count(*) from  CREPLY
		where cno = #{cno}
	</select>
	
	
	 <!-- 댓글 목록 /오류 발생-->
    <select id="list" resultType="Comment" parameterType="int">
        <include refid="pagingHeader"/>
            select cono, cno,memberno, cocontent, cocreatedate
            FROM  CREPLY
			WHERE cno = #{cno}
			ORDER BY cono desc
        <include refid="pagingFooter"/>
    </select>
    
     <!-- 페이징 sql -->
    <sql id="pagingHeader">
        SELECT * FROM (
            SELECT ROWNUM AS rn, A.* FROM (
    </sql>
    <sql id="pagingFooter">
            ) A
        ) WHERE rn BETWEEN #{start} AND #{end}
    </sql>
	
	
	<!-- 댓글 상세 -->
	<select id="view" resultType="Comment" parameterType="int">
	 	select * from  CREPLY
		where cono = #{cono}
    </select>
    
    
    <!-- 댓글 수정 -->
    <update id="update" parameterType="Comment">
     	UPDATE  CREPLY
        SET cocontent = #{cocontent}
        WHERE cono = #{cono}
    </update>
    
    
    <!-- 댓글 삭제 -->
    <delete id="delete" parameterType="int">
    	DELETE FROM  CREPLY
        WHERE cono = #{cono}
    </delete>

</mapper>