<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.dept.dao.face.DeptDao">

	<select id="selectCntDept" resultType="int">
		SELECT count(*) FROM dept
	</select>

	<select id="selectDeptList" resultType="Dept" parameterType="Dept">
		SELECT
			  deptNum, adminNo, name
		FROM dept
		WHERE id = #{id}
	</select>
	
	<select id="selectDeptView" resultType="Dept" parameterType="Dept">
		SELECT 
			d.name, d.deptNum,
			m.memberno, m.membername, m.memState, m.rank, m.birth, m.phone, m.address, m.email, m.leaveTotal
		from 
			member m 
		left join 
			dept d on m.deptnum = d.deptNum
		where 
			m.memberno = #{memberNo}
	</select>

	<insert id="insertDept" parameterType="login.dto.Member">
		insert into member(MEMBERNO, DEPTNUM, MEMBERNAME, RANK, MEMSTATE,HIREDATE, PASSWORD,
						   BIRTH, PHONE, ADDRESS, GENDER, EMAIL, LEAVETOTAL, MEMFILEPATH, MEMFILENAME)
		values(#{memberNo}, #{deptNum}, #{memberName}, #{rank}, '유', sysdate, 'test123',
			   #{birth}, #{phone}, #{address}, #{gender}, #{email}, #{leaveTotal}, '-', '-'	
		 )
		
	</insert>
	
	<select id="deptList" resultType="Dept">
		SELECT
			  deptNum, adminNo, name
		FROM 
			dept
	</select>
	
	<select id="memberByid" resultType="Map" parameterType="Map">
		select 
			d.name, m.membername, m.rank, m.memberno, d.deptNum 
		from 
			member m 
		left join 
			dept d on m.deptnum = d.deptNum
		where 
			d.deptNum = #{deptNum}
			<if test="type != null">
				<if test = "type == 'memberno'">
					and m.memberno = #{keyword}
				</if>
				<if test = "type == 'membername'">
					and m.membername  LIKE '%' || #{keyword} || '%'  
				</if>
			</if>	
	</select>
	
	<insert id="insertFile" parameterType="DeptFile">
		INSERT INTO DeptFile ( mfileNo, memberNo, originName, storedName, fileSize)
		VALUES ( deptfile_seq.nextval, #{memberNo }, #{originName }, #{storedName }, #{fileSize } )
	</insert>

	<select id="selectDeptFileByDeptNo" resultType="DeptFile" parameterType="DeptFile">
		SELECT
			mfileNo, memberNo, originName, storedName, fileSize
		FROM DeptFile
		WHERE memberNo = #{memberNo}
	</select>

	<select id="selectDeptFileByFileNo" resultType="DeptFile" parameterType="DeptFile">
		SELECT
			mfileNo, memberNo, originName, storedName, fileSize
		FROM DeptFile
		WHERE mfileNo = #{mfileNo }
	</select>

	<update id="updateDept" parameterType="Dept">
		UPDATE member
		SET memberName = #{memberName}
			, address = #{address}
			, email = #{email}
			, rank = #{rank}
			, phone = #{phone}
		WHERE memberNo = #{memberNo}
	</update>

	<delete id="deleteFile" parameterType="String">
		DELETE DeptFile
		WHERE memberNo = #{memberNo}	
	</delete>
	
	<delete id="delete" parameterType="String">
		DELETE member
		WHERE memberNo = #{memberNo}	
	</delete>
	
</mapper>