<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="leave.dao.face.LeaveDao">

	<select id="findleaveNo" resultType="int">
	select leave_seq.nextval from dual
	</select>

	<insert id="insertLeave" parameterType="leave.dto.Leave">
	INSERT INTO LEAVE (leaveNo
		,memberNo
		,leaveStart
		,leaveEnd
		,leaveEtc
		,membername
		,deptname
		,leaveuse
		,leavetotal
		,leaveremain
		,leaveReason
		,leaveConfirm
		,leaveTime
		) VALUES 
		(leave_seq.nextval, 
		#{memberNo }, 
		#{leaveStart}, 
		#{leaveEnd }, 
		#{leaveEtc }, 
		#{memberName},
		#{deptName}, 
		#{leaveUse}, 
		#{leaveTotal}, 
		#{leaveRemain},
		#{leaveReason},
		'0',
		sysdate)
	</insert>

	<select id="selectCntAll" resultType="int" parameterType="String">
		SELECT count(*) FROM leave
		WHERE deptname = #{deptName}
	</select>	
	
	<select id="leaveMainList" resultType="hashmap" parameterType="map">
		SELECT * FROM (
			SELECT rownum rnum, L.* FROM (
				SELECT
					*
				FROM leave A JOIN leaveDetail D
                ON A.leaveNo =  D.leaveNo
                WHERE A.memberNo=#{loginId}
				ORDER BY A.leaveNo DESC
			) L
		) LEAVE
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectDeptList" parameterType="String" resultType="leave.dto.Member">
	SELECT to_char(deptnum) deptnum, memberno , membername, rank FROM member
	 where deptnum = #{deptnum } 
	</select>
	
	<select id="getApprovalMember" parameterType="String" resultType="leave.dto.Member">
		select * from member where rank='과장' and deptnum = #{deptNum}
	</select>
	
	<select id="requestLeaveList" resultType="hashmap" parameterType="map">
		SELECT * FROM (
 			SELECT rownum rnum, L.* FROM (
				SELECT
				A.*, m.rank
				FROM leave A 
                join member m on A.memberno = m.memberno
               
               WHERE A.deptname = #{deptName}
				ORDER BY A.leaveNo DESC)L
                ) LEAVE
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<update id="confirmLeave" parameterType="map">
		update leave
			set leaveconfirm = #{confirm}
			where leaveno = #{no}
	</update>
	
	<select id="getLeaveByNo" parameterType="int" resultType="leave.dto.Leave">
		select * from leave where leaveno = #{no}
	</select>
	
</mapper>