<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="leave.dao.face.LeaveDao">

	<select id="findleaveNo" resultType="int">
	select leave_seq.nextval from dual
	</select>

	<insert id="insertLeave" parameterType="leave.dto.Leave">
	INSERT INTO LEAVE (leaveNo
		,memberNo
		,leaveStart
		,leaveEnd
		,leaveEtc
		,leaveReason
		,leaveTime
		) VALUES 
		(leave_seq.nextval, #{memberNo }, #{leaveStart }, #{leaveEnd }, #{leaveEtc },
		#{leaveReason },sysdate)
	</insert>

	<select id="selectCntAll" resultType="int" parameterType="String">
		SELECT count(*) FROM leave
		WHERE memberNo = #{loginId}
	</select>	
	
	<select id="leaveMainList" resultType="hashmap" parameterType="map">
		SELECT * FROM (
			SELECT rownum rnum, L.* FROM (
				SELECT
					*
				FROM leave A JOIN leaveDetail D
                ON A.leaveNo =  D.leaveNo
                WHERE A.memberNo=#{loginId}
				ORDER BY A.leaveNo DESC
			) L
		) LEAVE
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	
</mapper>